
@media only screen and (max-width: 799px) {

}


@media only screen and (min-width: 800px) { 

    .navbar{
        display: grid;
        grid-auto-flow: column;
        grid-template-columns: 1fr 2fr;
        background-color: black;
        color: white;
    }
    

}